<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">
        Typing Challenge
      </h1>

      <p class="has-text-centered title is-5">
        <span
          [class]="compare(letter, userSentence[i])"
          *ngFor="let letter of sentence.split(''); let i = index"
          >{{ letter }}</span
        >
      </p>

      <div class="field">
        <input
          type="text"
          class="input"
          (input)="onInputHandler($event.target.value)"
          ondrop="return false;"
          onpaste="return false;"
          autocomplete="off"
        />
      </div>

      <div class="box has-text-centered" *ngIf="success">
        <h1 class="has-text-centerd title">Success</h1>
      </div>

      <div class="buttons">
        <button class="button is-success" (click)="changeSentenceHandler()">
          Change Sentence
        </button>
      </div>
    </div>
  </div>
</div>
